.zhcm_Hap_650TopOfTheTop .sapUiGlobalBackgroundColor,
.zhcm_Hap_650TopOfTheTop .sapMShellGlobalInnerBackground{
    background: #fff;
}

html.sap-desktop .zhcm_Hap_650TopOfTheTop *:focus{
    outline: none !important;
}

html.sap-desktop .zhcm_Hap_650TopOfTheTop *:focus>.sapMFocusable{
    outline: none !important;
}

.zhcm_Hap_650TopOfTheTop .sapMBtn:focus .sapMBtnFocusDiv{
    border: none !important;
}

.zhcm_Hap_650TopOfTheTop .zOverviewMainPanel{
    background: #fff;
}

.zhcm_Hap_650TopOfTheTop .zOverviewMainPanel .sapMPanelContent{
    border: none;
    padding: 0;
}

.zhcm_Hap_650TopOfTheTop .zOverviewITB .sapMITH{
    background: #fff;
}

.zOverviewITB .sapMITBContainerContent{
    border: none
}

.zOverviewITB .sapMITBText{
    width: auto;
}
.zOverviewITB .sapMITBTab{
    width: auto;
}
.zOverviewITB .sapMITBVertical{
    width: 8rem;
}

.zhcm_Hap_650TopOfTheTop .zFilterPanel .sapMPanelWrappingDivTb{
    border: none;
}

.zhcm_Hap_650TopOfTheTop .zFilterPanel .sapMPanelContent{
    border: none;
}

.zhcm_Hap_650TopOfTheTop .zFilterPanel .sapUiVlt.sapUiContentPadding>.sapuiVltCell:not(:last-child){
    padding-bottom: 0;
}

.zhcm_Hap_650TopOfTheTop .zFilterButton .sapMBtnInner{
    width: 143px;
    height: 32px;
    background-color: rgba(84, 150, 205, 1);
    box-sizing: border-box;
    /*border-width: 1px;*/
    /*border-style: solid;*/
    /*border-color: rgba(54, 125, 184, 1);*/
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-weight: 400;
    font-size: 14px;
    background: rgba(84, 150, 205, 1);
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}