.zOverviewITB .sapMITBContent{
    padding: 0;
}
.zOverviewPanel .sapMPanelContent{
    padding: 0;
}
.zOverviewPanel .sapMListTblHighlightCol + .sapMListTblHeaderCell, .sapMListTblHighlightCell + .sapMListTblCell {
    padding-left: 0.5rem !important;
}
.zOverviewPanel .sapMListTblCell{
    padding: 0;
}
.zMTaskTextWMargin{
    font-weight: 700 !important;
    width: 100%;
    margin: .5rem 0;
}
.zOverviewPanel .sapMListTblSubCntRow{
    margin-top: 0;
}
.zMSmallFont{
    font-size: 0.7rem;
}
.zMEvalProcTb{
    height: auto !important;
    margin: .5rem 0;
}
.zMEvalProcTb .sapMText {
    font-weight: 700;
}
.zBigTaskIcon{
    font-size: 1.5rem !important;
}
.zMFilterIcon{
    color: white;
    font-size: 1.6rem;
}
.zMFilterDialogContentBox{
    padding: 1rem;
}
.zMSmallText{
    font-size: 0.8rem;
}
.zMIconBlue{

}
.zMExpandButton{
    position: absolute;
    bottom: -20px;
    left: calc(50% - 16px);
}
.zMTopHeader{
    background-color:rgba(239, 244, 249, 1);
    padding: 0 0 15px 0;
    border-bottom: 2px solid rgba(209, 224, 237, 1);
}
.zMTabHeaderNameEvalProc {
    font-size: 13px;
    font-weight: 700 !important;
    color: #333333;
    white-space: pre-wrap;
}
.zMSaveBtn {
    color: white;
    background-color: transparent;
    font-size: 0.8rem;
    border: #007cc0 1px solid;
}

.zMSaveBtn:hover {
    cursor: pointer;
    background-color: dodgerblue;
}

.zMSaveBtn .sapMBtnContent {
    display: inline-block;
}

.zMSaveBtn .sapMBtnIcon {
    margin-left: 0;
    margin-right: 0.8rem;
    font-size: 1.5rem;
    color: #ffffff;
}