.zUserProperty .sapMObjectAttributeDiv .sapMText .sapMObjectAttributeDiv .sapMObjectAttributeTitle .sapMObjectAttributeDiv .sapMObjectAttributeColon .sapMObjectAttributeDiv .sapMObjectAttributeText{
  font-size: 0.8rem;
}

.zSliderWrap{

}

.zSliderWrap .sapMSliderInner{
  border-radius: 2rem;
  height: 2.5rem;
}

.zSegmButtonContainer{
  width: 100% !important;
  max-width: 300px;
  margin: auto;
  display: block;
  /*height: 2.5rem !important;*/
}

.zSlidersContainer{
    padding-top: 0.8rem;
}

.zSlidersContainer > div:first-child {
    height: 55px;
    line-height: 55px;
    margin-top:-8px;
  /*border: #cd191a 1px solid;*/
}

.zSlidersContainer > div:first-child > span {
  vertical-align: middle;
  /*border: #27fb0d 1px solid;*/
}

.zCompListItem .sapMSLITitle{
    font-size: 0.875rem;
}
.zCompListItem .sapMSLIDescription{
    color: rgb(204, 204, 204);
    font-size: 0.8rem;
}
.zCompListItem .sapMSLIInfoNone{
    color: rgb(0, 157, 224);
    font-weight: 700;
    font-size: 1rem;
}
.zCompListItem [data-sap-ui-icon-content$='$#xe03f']{ /* icon complete */
    color: rgb(0, 157, 224);
}

.zCompListItem.zCompListItemMinHeight {
    min-height: 4rem !important;
    border-left: 4px solid transparent;
}

.zSurveyCompName{
    color: rgb(0, 157, 224) !important;
    font-weight: 700 !important;
}
.zSurvey0pName{
    color: rgb(204, 204, 204) !important;
    font-weight: 700 !important;
    margin-left: 1rem;
}
.zCompWithError{
    border-left: 4px solid red !important;
}

.zIndWrapperVertical{
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 6px 0 rgba(117,117,117,.25);
  border-radius: 8px;
  display: block;
  margin: 0.4rem 0 0 0.4rem;
  max-width: 400px;
  padding: 1rem 1rem 0.5rem 1rem;
}
.zDescription{
  font-size: 0.8rem !important;
  margin-bottom: 1rem;
}
.zIndWrapperHorizontal .sapMText{
  display: block;
  font-size: 0.6rem;
  margin: auto;
  text-align: center !important;
  width: 100%
}
.zIndWrapperHorizontal{
  display: flex;
  max-width: 300px;
  justify-content: space-around;
  margin: auto;
}
.zWrapperHeader .sapMText{
  font-size: 0.8rem;
}
.zWrapperHeader .sapMFT{
    font-size: 0.8rem;
    color: rgb(153, 153, 153);
}
.zHeaderLabels{
  margin: 0 0.5rem 0 0;
}
.zHeaderLabels .sapMText{
  color: grey;
}
.zBlueText{
    color:rgb(25,158,221) !important;
}
.zBlueTextBold{
    color:rgb(25,158,221) !important;
    font-weight: 700 !important;
}
.zBoldText {
    font-weight: 700 !important;
}
.zRedText{
    color: red !important;
}
.zInheritColor, .sapMListTbl .sapMText, .sapMListTbl .sapMLabel{
    color: inherit;
}
[data-color-style=zRedText]{
    color: red !important;
}
[data-color-style=zGreenText]{
    color:green;!important;
}
[data-color-style=zGreyText]{
    color: #7F7F95 !important;
}
[data-color-style=zBlueText]{
    color: #009de0 !important;
}

.zCantEstimateBtn{
    /*width: 3.5rem;*/
    width: 100%;
    height: 3rem !important;
    padding: 0 !important;
    font-weight: 700;
    font-size: 2rem;
    color: #CCCCCC;
    background-color: transparent;
}

.zCantEstimateBtn .sapMBtnInner{
    height: inherit;
    font-size: inherit;
    color: inherit;
    background-color: inherit;
    border-radius: 0.6rem;
    background: #ffffff;
}

html.sap-desktop .zCantEstimateBtn .sapMToggleBtnPressed{
    background-color: #007cc0;
    color: #ffffff;
}

.zCantEstimateBtn .sapMBtnContent {
    line-height: 3rem;
}

.zCantEvalText {
    font-size: 11px;
    text-align: center !important;
}
/* new page content styles  */
.zTopHeader{
    background-color:rgba(239, 244, 249, 1);
    padding: 15px;
    border-bottom: 2px solid rgba(209, 224, 237, 1);
}
.zPageContent{
    padding: 0 0 0 15px;
}
.zExpandedHdr{
    margin-top: 20px;
    padding-left: 15px;
    align-items: flex-start;
}
.zSmallText{
    font-size: 0.8rem;
}

.zScalePopover .sapMIBar-CTX .sapMTitle{
    color: #007cc0;
}

.zCustomMessageBox > footer > button:nth-child(2){
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    background-color: #007cc0;
    border: #007cc0 1px solid;

}
.zCustomMessageBox > footer > button:nth-child(2):hover{
     cursor: pointer;
     background-color: dodgerblue;
}
.zCustomMessageBox > footer > button:nth-child(3){
    color:white;
    font-size: 0.8rem;
    border: firebrick 1px solid;
    background-color: firebrick;

}.zCustomMessageBox > footer > button:nth-child(3):hover{
     cursor: pointer;
     background-color: red;
}

 .zFlexTextAligner{
     display: flex;
     justify-content: center;
 }

 .zFitContentWidth{
     margin-left: 10px;
     width: min-content;
     margin-top: -5px;
 }

 .sapUiTinyMarginBegin.zCantEstimateBtnBox {
 	  margin-top: -5px;
 }