.zhcm_Hap_650ColleaguesBox {
    /*min-width: 290px;*/
    /*max-width: 1100px;*/
}

/* ---- employee info styles */
/* 
.sapUiMedia-StdExt-Phone
.sapUiMedia-StdExt-Tablet
.sapUiMedia-StdExt-Desktop
.sapUiMedia-StdExt-LargeDesktop
*/
.employeeInfoWrap {
    margin: 9px 6px;
}
.sapUiMedia-StdExt-Phone .employeeInfoWrap {
    width: 100% !important;
    max-width: 100% !important;
}
.sapUiMedia-StdExt-Tablet .employeeInfoWrap {
    width: 48% !important;
    max-width: 48% !important;
}
.sapUiMedia-StdExt-Desktop .employeeInfoWrap {
    width: 32% !important;
    max-width: 32% !important;
}
.sapUiMedia-StdExt-LargeDesktop .employeeInfoWrap {
    width: 600px !important;
    max-width: 600px !important;
}

.zhcm_Hap_650EmployeeInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    border: solid 1px gainsboro;
    /* padding: 5px 5px 0px 5px; */
    padding-top: 5px;
    padding-right: 5px;
    /* max-width: 375px; */
    background-color: white; 
    /* margin: 1rem 1rem 0 0; */
    height: 100%;
}

.zhcm_Hap_650EmployeeInfoLeft {
    /* flex: 0 1 20%; */
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-top: 2rem; */
}

.zhcm_Hap_650UserIcon {
    heght: 5rem;
    width: 5rem;
    display: block;
    padding: 5px 15px 15px 15px;
    /* filter: brightness(0.5); */
}

.zhcm_Hap_650EmployeeInfoRight {
    /* flex: 2 0 70%; */
    color: #999999;
    font-size: 13px;
    min-width: 240px;
    /* padding: 0 0 0 10px; */
    display: flex;
    flex-direction: column;
    height: 100%;
    /* flex-grow: 1; */
    justify-content: space-between;
    width: calc(100% - 110px);
}
/* .zhcm_Hap_650EmployeeInfoRight>* {
    white-space: nowrap;
} */
.zhcm_Hap_650EInfoName {
    font-weight: 700;
    font-size: 18px;
    color: #666666;
    margin-bottom: 5px;
}

.zCenteredButton {
    display: block;
    margin: 0 auto 5px auto;
}

.zGreyButton {
    flex: 0 0 30px;
}

.zGreyButton .sapMBtnInner, .zGreyButton .sapMBtnIcon {
    color: #666666;
}

/* ---- */
.zBtnBack .sapMBtnInner {
    border: none;
    background-color: transparent;
    height: auto;
}

.zTabHeaderNameEvalProc {
    margin-left: 10px;
    font-size: 13px;
    font-weight: 700 !important;
    color: #333333;
}

.zTabHeaderTxt {
    font-weight: 700 !important;
    width: 100%;
}

/* ---- Header Grid styles------ */
.zhcm_Hap_650HeaderGrid {
    background-color: rgb(242, 248, 252);
    border-bottom: rgb(204, 204, 204) 1px solid;
    padding: 10px 10px 10px 40px;
    width: 100%;
    height: 160px;
}

.zhcm_Hap_650HdrProcedure {
    color: rgb(51, 84, 167);
    font-weight: bold;
    font-size: 1rem;
    /*margin: 1rem 1rem 1rem 1rem;*/
}

.zhcm_Hap_650HdrProcedureName {
    font-weight: bold;
    margin: 0 0 0.2rem 1rem;
}

/* ============ STYLED INDICATOR DROPDOWN SECTION ============== */
.zIndFlexBoxByDD {
    border: 1px solid rgb(204, 204, 204);
    padding: 0.4rem;
    margin: 0.25rem 0;
}

.zWidth100 {
    width: 100% !important;
}

.zhcm_Hap_650IndDropLine {
    border: rgb(207, 207, 207) 1px solid;
    /*display: block;*/
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 15px;
    min-height: 35px;
}

.zIndDDText {
    font-size: 12px;
}

/* ---- PANEL ------ */
.zhcm_Hap_650Panel {
    width: 92% !important;
    margin: auto;
}

.zhcm_Hap_650Panel .sapMPanelContent {
    /*padding: 0.625rem 1rem 1.375rem 1rem; */
    padding: 0 0 0 0;
    box-sizing: border-box;
    overflow: auto;
    white-space: normal;
}

.zhcm_Hap_650Panel .zhcm_Hap_650AppraisalSection {
    width: 96%;
    margin: 0 auto 10px auto;
}

/* css helpers */
.zhcm_Hap_650AppraisalSection {
    background-color: white;
    position: relative;
    text-align: left;
    margin: 1% 0;
}

.zhcm_Hap_650AppraisalSection .sapUiIcon {
    margin: 0.3rem 0 0 0.5rem;
    background-clip: border-box;
    /*border: 1px solid #d8d8d8;*/
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: rgb(47, 60, 72);
    cursor: pointer;
    height: 1.5rem;
    line-height: 1.4rem;
    width: 1.5rem;
}

.zhcm_Hap_650SCHeader {
    font-weight: 700;
    font-size: 12px;
    /*margin: 0 0 0 1rem;*/
}

.zEvalProcToolbar .sapMText{
    font-weight: 700 !important;
}

.zEvalProcPeriod {
    color: #C3C3C3 !important;
}

/* ============ indicator container ============ */

.zhcm_Hap_650IndicatorsDragAndDrop {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.zhcm_Hap_650IndicatorContainer {
    font-size: 12px;
    font-weight: 700;
    border: 1px solid rgb(242, 242, 242);
    border-top: 2px solid #8c8b8b;
    display: inline-block;
    min-height: 190px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 5px 5px 5px;
    vertical-align: top;
    width: 30.5%;
}

/* ============ Indciator tyles ============ */
.zhcm_Hap_650IndicatorTile {
    background-color: white;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
    border: 1px solid rgba(0, 0, 0, 0.2);
    text-align: left;
    box-sizing: border-box;
    transition: 0.3s;
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    margin: 5px 0 5px 0;
    padding: 10px;
}

.zhcm_Hap_650IndicatorTile:hover {
    box-shadow: 0 4px 8px 0 #808080;
    cursor: move;
    font-weight: bold;
}
.zhcm_Hap_650IndicatorContainerNotOk{
    /*margin-right: 2%;*/
}
.zhcm_Hap_650IndicatorContainerOk{
    /*margin-left: 2%;*/
}
.zhcm_Hap_650IndicatorContainerNotOk .zhcm_Hap_650IndicatorTile {
    color: rgb(255, 119, 119);
}

.zhcm_Hap_650IndicatorContainerOk .zhcm_Hap_650IndicatorTile {
    color: rgb(66, 124, 172);
}

/* ============ m.Text styles ============ */
.zhcm_Hap_650TextViewGeneral {
    text-align: center !important;
    display: block;
    font-size: 1.1rem;
    margin: auto;
}

.zhcm_Hap_650TextCompetencyGroup {
    color: grey;
}

.zhcm_Hap_650TextCompetencyTitle {
    font-weight: bold;
}

.zhcm_Hap_650BlueCompetencyDescr {
    display: block;
    color: white;
    background-color: #007cc0;
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
    width: 50%;
    margin: 10px auto auto auto;
}

.zhcm_Hap_650Instruction {
    max-width: 30%;
    margin: 0 5rem 0 0;
    padding: 5px 5px 5px 5px;
    float: right;
    color: grey;
    background-color: white;
    border: black 1px solid;
}

.zhcm_Hap_650DisableText {
    color: rgb(159, 150, 151) !Important;
    /*font-style: italic;*/
}

.zhcm_Hap_650EnableText {
    color: black !Important;
    /*font-style: normal;*/
}

/* ============ comment input ============ */
.zhcm_Hap_650CommentHint {
    margin: 1rem 0 0 0rem;
    font-size: 0.8rem;
}

.zhcm_Hap_650CommentInput {
}

.zhcm_Hap_650CommentInput > textarea {
    height: inherit !important;
}

/* ============ bottom toolbar styles ============ */

.zhcm_Hap_650BottomToolbar {
    margin: 1rem 1rem 0 1rem;
    height: 2.5rem !important;
    background-color: #696969;
    padding: 0 1rem 0 1rem;
}

.zhcm_Hap_650TbNavBtn {
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    background-color: #007cc0;
    border: #007cc0 1px solid;
}
.zhcm_Hap_650TbNavBtn[disabled="true"],
.zhcm_Hap_650TbNavBtn[disabled="disabled"] {
    opacity: 0.5;
}
.zhcm_Hap_650TbNavBtn:hover {
    cursor: pointer;
    background-color: dodgerblue;
}

.zhcm_Hap_650TbSaveBtn {
    color: white;
    background-color: transparent;
    font-size: 0.8rem;
    border: #007cc0 1px solid;
    width: 120px;
}
.zhcm_Hap_650TbSaveBtn[disabled="true"],
.zhcm_Hap_650TbSaveBtn[disabled="disabled"] {
    opacity: 0.5;
}
.zhcm_Hap_650TbSaveBtn:hover {
    cursor: pointer;
    background-color: dodgerblue;
}

.zhcm_Hap_650TbSaveBtn .sapMBtnContent {
    display: inline-block;
}

.zhcm_Hap_650TbSaveBtn .sapMBtnIcon {
    margin-left: 0;
    margin-right: 0.8rem;
    font-size: 1.5rem;
    color: #ffffff;

}

/*Стиль крсной кнопки для отмены или выхода*/
.zhcm_Hap_650CloseBtn {
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    background-color: #cd191a;
    border: #cd191a 1px solid;
    width: 100px;
}

.zhcm_Hap_650TbDeclineBtn {
    color: white;
    font-size: 0.8rem;
    background-color: transparent;
    border: firebrick 1px solid;
}
.zhcm_Hap_650TbDeclineBtn[disabled="true"],
.zhcm_Hap_650TbDeclineBtn[disabled="disabled"] {
    opacity: 0.5;
}
.zhcm_Hap_650TbDeclineBtn:hover {
    cursor: pointer;
    background-color: red;
}

/* === */
.zDownloadReportBtn {
    background-color: #009DE0;
}

.zDownloadReportBtn .sapMBtnInner {
    color: white;
}

/* === Different sap.m.Text styles */
.zhcm_Hap_650IndicatorText {
    width: 170px;
    margin-right: 1rem;
    color: rgb(66, 124, 172);
    font-size: 10px;

}

.zhcm_Hap_650TopOfTheTop .zCorpTB.sapMTB {
    background-size: 100% 110px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#606366), to(#2c2c2c));
    background-image: -webkit-linear-gradient(top center, #606366, #2c2c2c);
    background-image: -ms-linear-gradient(#606366, #2c2c2c);
    background-image: linear-gradient(top center, #606366, #2c2c2c);
    height: 45px;
    padding-left: 30px;
}

.zhcm_Hap_650TopOfTheTop .zCorpTB.sapMTB > .sapMText {
    font-weight: bold;
    text-shadow: 1px 1px 2px #333333;
    color: white;
    font-size: 13px !important;
}

.zhcm_Hap_650TopOfTheTop .sapMPageHeader::before {
    border-top: none;
}

.zUserAvatar {
    border-radius: 100%;
}

.zHdrTextBlack {
    font-size: 13px;
    color: #000000;
}

.zHdrTextGrey {
    font-size: 13px;
    color: #999999;
    word-break: normal;
}

.zPnlSurvey .sapMTB {
    height: 2.5rem;
}

.zContentBox {
    width: 100% !important;
}

.zhcm_Hap_650TopOfTheTop .sapUiSizeCompact.sapMMsgPopover .sapMMsgPopoverItem.sapMSLINoDescIcon {
    height: auto;
}

.zhcm_Hap_650TopOfTheTop .sapMSLITitleOnly {
    white-space: normal;
}

.competenciesList .sapUiIcon[data-sap-ui-icon-content=""] {
    color: rgb(0, 157, 224);
}

.zhcm_Hap_650TopOfTheTop [data-color="orange"] {
    color: orange;
}
.zMoveUp15 {
    transform: translateY(-15px);
}

[id$="HideMyBusyIndicator-busyIndicator"]>* {
    display: none !important;
}
/* при скроле и включенном бизи - внизу остается небольшой просвет. компенсируем избыточной высотой */
[id$="HideMyBusyIndicator-busyIndicator"] {
    transform: scaleY(100) translateY(49.5%);
    z-index: 1 !important;
}

/* div#__component0---AddColleagues--HideMyBusyIndicator:before {
    content: "";
    width: 100%;
    height: 100%;
    background: black;
    display: block;
    position: absolute;
    z-index: 1;
    opacity: 50%;
} */

.zWordBreakNormal {
    word-break: normal;
}